local/config/build.properties
local/config/config_db.php
local/config/build
local/config/database.yml.sample.save
local/config/key
core/vendor
local/config/runtime-conf.xml
cache/*
log/*
bin/*
local/session/*
coverage
.idea
.buildpath
.project
.settings/
web/assets/*
web/cache/*
web/tinymce
web/media
phpdoc*.log
xhprof/
phpunit.phar
.DS_Store
phpmyadmin
composer.phar


# Ignore casperjs screenshots
tests/functionnal/casperjs/screenshot/
tests/phpunit/Thelia/Tests/Api/fixtures/visuel*.png
