<div class="hp-horizontal"></div>
<div class="mobile-app row">
	<div class="logo-app col-md-1 col-sm-3 col-sm-offset-0 col-xs-offset-4 col-xs-4">
		<img src="assets/frontOffice/default/template-assets/assets/dist/img/store/hadi_app1.png">
	</div>
	
	<div class="phone-app col-md-3 col-md-offset-0 col-sm-8 col-sm-offset-1 col-xs-offset-2 col-xs-8">
		<img src="assets/frontOffice/default/template-assets/assets/dist/img/store/mobile_app.png">
	</div>
	
	<div class="download-app col-md-5  col-sm-7 col-sm-offset-0 col-xs-offset-2 col-xs-8">
		  Jetzt <span class="corporate">hadi.app</span> downloaden und kostenlos registrieren
                <a href="https://www.hadiapp.at/" target="_blank">www.<span class="corporate">hadiapp</span>.at</a>
	</div>
	
	<div class="store-app col-md-3 col-sm-4 col-sm-offset-0 col-xs-offset-2 col-xs-8">
		<div class="col-md-6 col-sm-6 col-xs-6">
			<a target="_blank" href="https://itunes.apple.com/at/app/hadi-handwerker-betriebe-in/id882739311?mt=8">
               <img src="assets/frontOffice/default/template-assets/assets/dist/img/store/applestore.png">
            </a>
		</div>
		<div class="col-md-6 col-sm-6 col-xs-6">
			<a target="_blank" href="https://play.google.com/store/apps/details?id=at.mtmh.hadi">
				<img src="assets/frontOffice/default/template-assets/assets/dist/img/store/googleplay.png">
            </a>
		</div>
	</div>
</div>

<div class="partners row">
	<div class="partner-heading">
        <h2>Partner</h2>
    </div>
    <div class="partner-content row">
    	<div class="col-md-1">
    		<img src="assets/frontOffice/default/template-assets/assets/dist/img/store/partner1.png">
    	</div>
    	<div class="col-md-1">
    		<img src="assets/frontOffice/default/template-assets/assets/dist/img/store/partner1.png">
    	</div>
    	<div class="col-md-1">
    		<img src="assets/frontOffice/default/template-assets/assets/dist/img/store/partner1.png">
    	</div>
    	<div class="col-md-1">
    		<img src="assets/frontOffice/default/template-assets/assets/dist/img/store/partner1.png">
    	</div>
    	<div class="col-md-1">
    		<img src="assets/frontOffice/default/template-assets/assets/dist/img/store/partner1.png">
    	</div>
    	<div class="col-md-1">
    		<img src="assets/frontOffice/default/template-assets/assets/dist/img/store/partner1.png">
    	</div>
    	<div class="col-md-1">
    		<img src="assets/frontOffice/default/template-assets/assets/dist/img/store/partner1.png">
    	</div>
    </div>
</div>