{$activated={meta meta="COMMENT_ACTIVATED" key=$ref id=$id}}
{if $activated === null}
    {$activated = "-1"}
{/if}

<div class="title title-without-tabs">
    {intl d='comment.bo.default' l='Comments activation.'}
</div>


<div class="row">
    <div class="col-md-12">
        <div class="form-container clearfix">
            <form method="POST" id="comment-form" action="{url path="/admin/module/comment/activation/$ref/$id"}">
                <div class="form-group {if $error}has-error{/if}">
                    <label for="comment-status" class="control-label">
                        {intl d='comment.bo.default' l="Status :"}
                    </label>

                    <select name="status" class="form-control" id="comment-status">
                        <option {if $activated == "-1"}selected="selected"{/if}
                                value="-1">{intl d='comment.bo.default' l="Use global configuration"}</option>
                        <option {if $activated == "0"}selected="selected"{/if}
                                value="0">{intl d='comment.bo.default' l="Deactivated for this element"}</option>
                        <option {if $activated == "1"}selected="selected"{/if}
                                value="1">{intl d='comment.bo.default' l="Activated for this element"}</option>
                    </select>
                </div>

                <button type="button" id="comment-save" name="comment_save" value="save"
                        class="form-submit-button btn btn-sm btn-default"
                        title="{intl l='Save'}">
                    {intl l='Save'}
                </button>
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        {include file="commons.html" scope="parent"}
        {include file="include/comments-list.html" loop_ref=$ref loop_ref_id=$id}
    </div>
</div>