{extends file="email-layout.tpl"}
{* Do not provide a "Open in browser" link  *}
{block name="browser"}{/block}

{* Subject  *}
{block name="email-subject"}{intl l='Confirm your %store account' store={config key="store_name"}}{/block}

{* Title  *}
{block name="email-title"}{/block}

{* Content  *}
{block name="email-content"}  

    {loop type="customer" name="confirmation" current=false id=$customer_id}
    
     <table class="outer" align="center">
         <tr>
             <td class="full-width-text-title" >
                 <a href="{url path="/"}">
                     {intl l="HADILUJA!"}
                 </a>
             </td>
         </tr>
         <tr>
             <td class="full-width-text" >
                 {intl l="Herzlich Willkommen bei HADI. Bitte bestatige deine E-Mail Adresse um deine"}</br>
                 {intl l="Registrierung abzuschliessesn. Dein HADI-Team."}
             </td>
         </tr>
         <tr>
             <td class="full-width-text-link" >
                  <a href="{url path='/customer/confirm/%token' token=$CONFIRMATION_TOKEN}">{intl l="E-Mail-Adresse bestätigen"}</a>
             </td>
         </tr>
         
     </table>

    {/loop}
{/block}
