<div class="col-xl-8 col-lg-7 col-md-12 col-sm-12 col-xs-12 row row-eq-height hook_search">
	<div class="category_hold col-lg-3 col-md-3 col-sm-3 col-xs-3">
		<select name="category" class="dropdown" onchange="window.location.href=this.value;">
			<option value="/#" selected>{intl l="Alle Kategorien"}</option>
		    {loop name="categories-tree" type="category-tree" category="0"}
		        <option value="{$URL}">{"-"|str_repeat:$LEVEL} {$TITLE} {if $CHILD_COUNT != 0}({$CHILD_COUNT}){/if}</option>
		    {/loop}
		</select>
	</div>
	<div class="search-container col-lg-9 col-md-9 col-sm-9 col-xs-3">
	    <form id="form-search" action="{url path="/search"}" method="get" role="search" aria-labelledby="search-label">
	        <label id="search-label" class="sr-only" for="q">{intl l="Search a product" d="hooksearch.fo.default"}</label>
	        <input type="search" name="q" id="q" placeholder="{intl l="SUCHEN" d="hooksearch.fo.default"}" class="form-control" autocomplete="off" aria-required="true" required pattern=".{ldelim}2,{rdelim}" title="{intl l="Minimum 2 characters." d="hooksearch.fo.default"}">
	        {* <button type="submit" class="btn btn-search"><i class="fa fa-search"></i> <span class="sr-only">{intl l="Search" d="hooksearch.fo.default"}</span></button> *}
	    </form>
	</div>
</div>