<!-- Show carousel only on homepage, I will think on a better solution when frontend is done -->
{if $smarty.server.REQUEST_URI|count_characters - $smarty.server.QUERY_STRING|count_characters <= 2 }
    {ifloop rel="carousel.front"}
    <section class="carousel-container">
        <div id="carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-wrapper">
                <div class="carousel-inner">
                    {$sliders=0}
                    {loop type="carousel" name="carousel.front" }
                    <figure class="item {if $LOOP_COUNT == 1}active{/if}">
                        {if $URL}<a href="{$URL|default:'#'}">{/if}
                            <img src="{$IMAGE_URL}" alt="{$ALT}" style="width: 100%; padding: 0px;">
                        {if $URL}</a>{/if}

                        <div class="carousel-caption">
                            {if $TITLE}<h3>{$TITLE}</h3>{/if}
                            {if $DESCRIPTION}{$DESCRIPTION nofilter}{/if}
                        </div>
                    </figure>
                    {$sliders=$LOOP_COUNT}
                    {/loop}
                </div>
            </div>
            <ol class="carousel-indicators">
                {for $slider=1 to $sliders}
                    {if $slider == 1 }
                       <li data-target="#carousel" data-slide-to={$slider-1} class="active"></li>
                    {else}
                        <li data-target="#carousel" data-slide-to={$slider-1}></li>
                    {/if}

                {/for}
            </ol>
        </div>
    </section><!-- #carousel -->
    {/ifloop}
{/if}