<?xml version="1.0" encoding="UTF-8" ?>

<config xmlns="http://thelia.net/schema/dic/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">
	<import_categories>
		<import_category id="thelia.import.features">
			<title locale="fr_FR">features</title>
			<title locale="en_US">Features</title>
			<title locale="de_DE">Features</title>
		</import_category>
	</import_categories>
	<imports>
		<import id="thelia.import.feature" class="GeneralImportExport\Import\FeatureImport"
			category_id="thelia.import.features">
			<import_descriptive locale="de_DE">
				<title>Attribute Importer</title>
				<description>
                    <![CDATA[
                    File Benötigt:
                    <ul>
                        <li>id: Feature iD</li>
                        <li>locale: Feature locale</li>
                        <li>title: Feature title</li>
                        <li>description: Feature description</li>
                    </ul>
                    ]]>
				</description>
			</import_descriptive>
		</import>
		<import id="thelia.import.feature" class="GeneralImportExport\Import\ProductFeature"
			category_id="thelia.import.features">
			<import_descriptive locale="de_DE">
				<title>Connect Products with Features</title>
				<description>
                    <![CDATA[
                    File Benötigt:
                    <ul>
                        <li>id: product_feature id</li>
                        <li>product id</li>
                        <li>feature id</li>
                        <li>feature_av_id</li>
                        <li>free_text_value</li>
                    </ul>
                    ]]>
				</description>
			</import_descriptive>
		</import>
		<import id="thelia.import.product" class="GeneralImportExport\Import\ProductImport"
			category_id="thelia.import.products">
			<import_descriptive locale="de_DE">
				<title>Product Importer</title>
				<description>
                    <![CDATA[
                    File Benötigt:
                    <ul>
                        <li>materialnummer (Artikelnummer)</li>
                        <li>EAN</li>
                        <li>Brand(Text)</li>
                        <li>Template</li>
                        <li>Features</li>
                    </ul>
                    ]]>
				</description>
			</import_descriptive>
		</import>
		<import id="thelia.import.price.gp" class="GeneralImportExport\Import\GenericProductImport"
			category_id="thelia.import.products">
			<import_descriptive locale="en_US">
				<title>Import Full Product </title>
				<description>
				  <![CDATA[
                    Importer.2 supports the following structure:</br>
                    Produkt_id, Extern_id, Ref, Marke_id, Kategorie_id, Template_id, Produkt_titel, Kurze_beschreibung, Beschreibung, Postscriptum, Meta_titel, 
                    Meta_beschreibung, Meta_keywords, Menge, Ist_in_Angebot, Ist_neu, Gewicht, EAN_code, Bild_name, Bild_titel, Bild_beschreibung,
					Bild_kurz_beschreibung, Bild_postscriptum, Bild_file, Price, Promo_price, Listen_price, Ek_preis_sht, Ek_preis_gc, Ek_preis_oag, 
					Ek_preis_holter, Preis_reuter, Vergleich_ek, Aufschlag</br>
					
                    Indications:
                    <ul>
                        <li>Decimal numbers must use "." as separator : 12.34</li>
                        <li>Values are always numbers(even constraint values)</li>
                        <li>"False" and "true" must be replaced with 0 and 1</li>
                    </ul>
                    ]]>
				</description>
			</import_descriptive>
			<import_descriptive locale="de_DE">
				<title>Gesamte Produkten importieren </title>
				<description>
				  <![CDATA[
                    Importer.2 supports the following structure:</br>
                    Produkt_id, Extern_id, Ref, Marke_id, Kategorie_id, Template_id, Produkt_titel, Kurz_beschreibung, Beschreibung, Postscriptum, Meta_titel, 
                    Meta_beschreibung, Meta_keywords, Menge, Ist_in_Angebot, Ist_neu, Gewicht, EAN_code, Bild_name, Bild_titel, Bild_beschreibung,
					Bild_kurz_beschreibung, Bild_postscriptum, Price, Promo_price, Listen_price, Ek_preis_sht, Ek_preis_gc, Ek_preis_oag, 
					Ek_preis_holter, Preis_reuter, Vergleich_ek, Aufschlag</br>
					
					Indications:
                    <ul>
                        <li>Decimal numbers must use "." as separator : 12.34</li>
                        <li>Values are always numbers(even constraint vales)</li>
                        <li>"False" and "true" must be replaced with 0 and 1</li>
                    </ul>
                    ]]>
				</description>
			</import_descriptive>
		</import>
		<import id="thelia.import.price.hf"
			class="GeneralImportExport\Import\ProductVendorPriceImport"
			category_id="thelia.import.products">
			<import_descriptive locale="en_US">
				<title>Import ek prices excluding taxes</title>
				<description>
                    <![CDATA[
                    Your file must have the following columns:
                    <ul>
                        <li>id: The id of your product sale elements </li>
                        <li>price: The price excluding taxes of the product attribute combinations</li>
                    </ul>
                    ]]>
				</description>
			</import_descriptive>
			<import_descriptive locale="de_DE">
				<title>Preis importieren</title>
				<description>
                    <![CDATA[
                    Your file must have the following columns:
                    <ul>
                        <li>id: The id of your product sale elements </li>
                        <li>price: The price excluding taxes of the product attribute combinations</li>
                        <li>ek_price_sht</li>
                        <li>ek_price_gc</li>
                    </ul>

                    ]]>
				</description>
			</import_descriptive>
		</import>
	</imports>

	<export_categories>
		<export_category id="thelia.export.customer">
			<title locale="en_US">Customers</title>
			<title locale="de_DE">Kunden</title>
			<title locale="fr_FR">Clients</title>
		</export_category>
		<export_category id="thelia.export.products">
			<title locale="en_US">Products</title>
			<title locale="de_DE">Produkte</title>
			<title locale="fr_FR">Produits</title>
		</export_category>
		<export_category id="thelia.export.content">
			<title locale="en_US">Content</title>
			<title locale="de_DE">Inhalt</title>
			<title locale="fr_FR">Contenu</title>
		</export_category>
		<export_category id="thelia.export.orders">
			<title locale="en_US">Orders</title>
			<title locale="de_DE">Bestellungen</title>
			<title locale="fr_FR">Commandes</title>
		</export_category>
		<export_category id="thelia.export.modules">
			<title locale="en_US">Modules</title>
			<title locale="de_DE">Modulen</title>
			<title locale="fr_FR">Modules</title>
		</export_category>
	</export_categories>

	<exports>
		<export id="thelia.export.catalog.preisroboterde"
			class="GeneralImportExport\Export\PreisRoboterProductExport"
			category_id="thelia.export.products">
			<export_descriptive locale="en_US">
				<title>PreisRoboter Product Catalog Export</title>
				<description>
                <![CDATA[
                    Export the Product Catalog in the required PreisRoboter CSV format:
                    <ul>
                    	<li>Artikelnummer,EAN,Herstellerartikelnummern</li>
                    	<li>Marke/Anbieter,Produktname</li>
    					<li>Preis,Spezialpreis,Streichpreis,Promo</li>
    					<li>Produkt_URL,Produkt_BILD,Produktgruppe</li>
                    </ul>
                    ]]>
				</description>
			</export_descriptive>
			<export_descriptive locale="fr_FR">
				<title>PreisRoboter Product Catalog Export</title>
				<description>
                <![CDATA[
                    Export the Product Catalog in the required PreisRoboter CSV format:
                    <ul>
                    	<li>Artikelnummer,EAN,Herstellerartikelnummern</li>
                    	<li>Marke/Anbieter,Produktname</li>
    					<li>Preis,Spezialpreis,Streichpreis,Promo</li>
    					<li>Produkt_URL,Produkt_BILD,Produktgruppe</li>
                    </ul>
                    ]]>
				</description>
			</export_descriptive>
			<export_descriptive locale="de_DE">
				<title>PreisRoboter Product Catalog Export</title>
				<description>
                <![CDATA[
                    Export the Product Catalog in the required PreisRoboter CSV format:
                    <ul>
                    	<li>Artikelnummer,EAN,Herstellerartikelnummern</li>
                    	<li>Marke/Anbieter,Produktname</li>
    					<li>Preis,Spezialpreis,Streichpreis,Promo</li>
    					<li>Produkt_URL,Produkt_BILD,Produktgruppe</li>
                    </ul>
                    ]]>
				</description>
			</export_descriptive>
		</export>

		<export id="thelia.export.catalog.idealo" class="GeneralImportExport\Export\IdealoProductExport"
			category_id="thelia.export.products">
			<export_descriptive locale="en_US">
				<title>Idealo Product Catalog Export</title>
				<description>
                <![CDATA[
                    Export the Product Catalog in the required IDEALO CSV format:
                    <ul>
                    	<li>Artikelnummer,EAN,Herstellerartikelnummern</li>
                    	<li>Marke/Anbieter,Produktname</li>
    					<li>Preis,Spezialpreis,Streichpreis,Promo</li>
    					<li>Produkt_URL,Produkt_BILD,Produktgruppe</li>
                    </ul>
                    ]]>
				</description>
			</export_descriptive>
			<export_descriptive locale="fr_FR">
				<title>Idealo Product Catalog Export</title>
				<description>
                <![CDATA[
                    Export the Product Catalog in the required IDEALO CSV format:
                    <ul>
                    	<li>Artikelnummer,EAN,Herstellerartikelnummern</li>
                    	<li>Marke/Anbieter,Produktname</li>
    					<li>Preis,Spezialpreis,Streichpreis,Promo</li>
    					<li>Produkt_URL,Produkt_BILD,Produktgruppe</li>
                    </ul>
                    ]]>
				</description>
			</export_descriptive>
			<export_descriptive locale="de_DE">
				<title>Idealo Product Catalog Export</title>
				<description>
                <![CDATA[
                    Export the Product Catalog in the required IDEALO CSV format:
                    <ul>
                    	<li>Artikelnummer,EAN,Herstellerartikelnummern</li>
                    	<li>Marke/Anbieter,Produktname</li>
    					<li>Preis,Spezialpreis,Streichpreis,Promo</li>
    					<li>Produkt_URL,Produkt_BILD,Produktgruppe</li>
                    </ul>
                    ]]>
				</description>
			</export_descriptive>
		</export>

		<export id="thelia.export.catalog.preisroboterde"
			class="GeneralImportExport\Export\PreisRoboterProductExport"
			category_id="thelia.export.products">
			<export_descriptive locale="en_US">
				<title>PreisRoboter Product Catalog Export</title>
				<description>
                <![CDATA[
                    Export the Product Catalog in the required PreisRoboter CSV format:
                    <ul>
                    	<li>Artikelnummer,EAN,Herstellerartikelnummern</li>
                    	<li>Marke/Anbieter,Produktname</li>
    					<li>Preis,Spezialpreis,Streichpreis,Promo</li>
    					<li>Produkt_URL,Produkt_BILD,Produktgruppe</li>
                    </ul>
                    ]]>
				</description>
			</export_descriptive>
			<export_descriptive locale="fr_FR">
				<title>PreisRoboter Product Catalog Export</title>
				<description>
                <![CDATA[
                    Export the Product Catalog in the required PreisRoboter CSV format:
                    <ul>
                    	<li>Artikelnummer,EAN,Herstellerartikelnummern</li>
                    	<li>Marke/Anbieter,Produktname</li>
    					<li>Preis,Spezialpreis,Streichpreis,Promo</li>
    					<li>Produkt_URL,Produkt_BILD,Produktgruppe</li>
                    </ul>
                    ]]>
				</description>
			</export_descriptive>
			<export_descriptive locale="de_DE">
				<title>PreisRoboter Product Catalog Export</title>
				<description>
                <![CDATA[
                    Export the Product Catalog in the required PreisRoboter CSV format:
                    <ul>
                    	<li>Artikelnummer,EAN,Herstellerartikelnummern</li>
                    	<li>Marke/Anbieter,Produktname</li>
    					<li>Preis,Spezialpreis,Streichpreis,Promo</li>
    					<li>Produkt_URL,Produkt_BILD,Produktgruppe</li>
                    </ul>
                    ]]>
				</description>
			</export_descriptive>
		</export>

		<export id="thelia.export.catalog.billiger" class="GeneralImportExport\Export\BilligerProductExport"
			category_id="thelia.export.products">
			<export_descriptive locale="en_US">
				<title>Billiger Product Catalog Export</title>
				<description>
                <![CDATA[
                    Export the Product Catalog in the required Billiger CSV format:
                    <ul>
                    	<li>aid/sku,name,price,link_shop_cat,brand</li>
                    	<li>mpn(r),EAN,image,desc</li>
                    </ul>
                    ]]>
				</description>
			</export_descriptive>
			<export_descriptive locale="fr_FR">
				<title>Billiger Product Catalog Export</title>
				<description>
                <![CDATA[
                    Export the Product Catalog in the required Billiger CSV format:
                    <ul>
                    	<li>aid/sku,name,price,link_shop_cat,brand</li>
                    	<li>mpn(r),EAN,image,desc</li>
                    </ul>
                    ]]>
				</description>
			</export_descriptive>
			<export_descriptive locale="de_DE">
				<title>Billiger Product Catalog Export</title>
				<description>
                <![CDATA[
                    Export the Product Catalog in the required Billiger CSV format:
                    <ul>
                    	<li>aid/sku,name,price,link_shop_cat,brand</li>
                    	<li>mpn(r),EAN,image,desc</li>
                    </ul>
                    ]]>
				</description>
			</export_descriptive>
		</export>

		<export id="thelia.export.catalog.geizhals" class="GeneralImportExport\Export\GeizhalsProductExport"
			category_id="thelia.export.products">
			<export_descriptive locale="en_US">
				<title>Geizhals Product Catalog Export</title>
				<description>
                <![CDATA[
                    Export the Product Catalog in the required Geizhals CSV format:
                    <ul>
                    	<li>Produktbezeichnung,Herstellername,Preis,Beschreibung,EAN</li>
                    	<li>Versand Vorkasse,Versand Nachnahme,Versand Kreditkarte,Versand Paypal</li>
    					<li>Verfügbarkeit,HerstellernummerDeeplink</li>
                    </ul>
                    ]]>
				</description>
			</export_descriptive>
			<export_descriptive locale="fr_FR">
				<title>Geizhals Product Catalog Export</title>
				<description>
                <![CDATA[
                    Export the Product Catalog in the required Geizhals CSV format:
                    <ul>
                    	<li>Produktbezeichnung,Herstellername,Preis,Beschreibung,EAN</li>
                    	<li>Versand Vorkasse,Versand Nachnahme,Versand Kreditkarte,Versand Paypal</li>
    					<li>Verfügbarkeit,HerstellernummerDeeplink</li>
                    </ul>
                    ]]>
				</description>
			</export_descriptive>
			<export_descriptive locale="de_DE">
				<title>Geizhals Product Catalog Export</title>
				<description>
                <![CDATA[
                    Export the Product Catalog in the required Geizhals CSV format:
                    <ul>
                    	<li>Produktbezeichnung,Herstellername,Preis,Beschreibung,EAN</li>
                    	<li>Versand Vorkasse,Versand Nachnahme,Versand Kreditkarte,Versand Paypal</li>
    					<li>Verfügbarkeit,HerstellernummerDeeplink</li>
                    </ul>
                    ]]>
				</description>
			</export_descriptive>
		</export>

		<export id="thelia.export.stock.geizhals"
			class="GeneralImportExport\Export\GeizhalsProductStockExport"
			category_id="thelia.export.products">
			<export_descriptive locale="en_US">
				<title>Geizhals Product Stock And Locations Export</title>
				<description>
                <![CDATA[
                    Export the product stock and locations in the required Geizhals CSV format:
                    <ul>
                    	<li> Artikelnummer,Versandlager1,Versandlager2,Versandlager3,Versandlager4</li>
                    </ul>
                    ]]>
				</description>
			</export_descriptive>
			<export_descriptive locale="fr_FR">
				<title>Geizhals Product Stock And Locations Export</title>
				<description>
                <![CDATA[
                     Export the product stock and locations in the required Geizhals CSV format:
                    <ul>
                    	<li> Artikelnummer,Versandlager1,Versandlager2,Versandlager3,Versandlager4</li>
                    </ul>
                    ]]>
				</description>
			</export_descriptive>
			<export_descriptive locale="de_DE">
				<title>Geizhals Product Stock And Locations Export</title>
				<description>
                <![CDATA[
                      Export the product stock and locations in the required Geizhals CSV format:
                    <ul>
                    	<li> Artikelnummer,Versandlager1,Versandlager2,Versandlager3,Versandlager4</li>
                    </ul>
                    ]]>
				</description>
			</export_descriptive>
		</export>
		<export id="thelia.export.bmd_order" class="GeneralImportExport\Export\BMDOrderExport"
			category_id="thelia.export.orders">
			<export_descriptive locale="en_US">
				<title>BMD orders</title>
				<description>
					Export your BMD orders
				</description>
			</export_descriptive>
			<export_descriptive locale="fr_FR">
				<title>Commandes BMD</title>
				<description>
					Exporter vos BMD commandes
				</description>
			</export_descriptive>
			<export_descriptive locale="de_DE">
				<title>BMD orders</title>
				<description>
					Export your BMD orders
				</description>
			</export_descriptive>
		</export>
	</exports>
</config>
