{$locale={lang attr="locale"}}
{$customer_id={customer attr="id"}}

{ifloop rel="comments"}

    {function name=comment_stars empty=1}
        {$star='<span class="glyphicon glyphicon-star"></span>'}
        {$star_empty='<span class="glyphicon glyphicon-star-empty"></span>'}

        {for $foo=0 to 4}
            {if $value > $foo}
                {$star nofilter}
            {elseif $empty == 1}
                {$star_empty nofilter}
            {/if}
        {/for}
    {/function}


    {loop name="comments" type="comment" ref="{$ref}" ref_id="{$ref_id}" status="1" order="created_reverse"
        offset="{$start}" limit="{$count}" }

    {if $CUSTOMER_ID}
        {loop name="customer" type="customer" id="{$CUSTOMER_ID}" current="false" limit="1"}
            {$username="{$FIRSTNAME} {$LASTNAME|truncate:2:"...":false}"}
            {$image="http://www.gravatar.com/avatar/{$EMAIL|trim|strtolower|md5}?d=mm&s=64"}
        {/loop}
        {elseloop rel="customer"}
            {$username={intl d="comment.fo.default" l="Anonymous"} }
            {$image={image file='assets/img/avatar.png'}}
        {/elseloop}
    {else}
        {$username=$USERNAME}
        {$image="http://www.gravatar.com/avatar/{$EMAIL|trim|strtolower|md5}?d=mm&s=64"}
    {/if}

    <div id="comment-customer-{counter}" class="comment-item media">
        <img src="{$image}" alt="" class="pull-left" />
        <div class="media-body">
            <p>
                {intl d="comment.fo.default" l="By <strong>%username</strong>" username={$username}}
                {if $RATING}<span class="text-primary">{comment_stars value=$RATING}</span>{/if}
            </p>
            <h3 class="comment-title media-heading">{$TITLE}</h3>

            <p class="comment-message">{$CONTENT}</p>
            <div class="comment-alert alert hidden"></div>
            <ul class="comment-extra list-inline">
                <li class="comment-date">{format_date date="{$CREATED}" output="date"}</li>
                {if $VERIFIED}
                <li class="comment-verified comment--is-verified">{intl d="comment.fo.default" l="Verified"}</li>
                {else}
                <li class="comment-verified">{intl d="comment.fo.default" l="Verified"}</li>
                {/if}
                {if $customer_id && $customer_id == $CUSTOMER_ID}
                <li><a href="{url path="/comment/delete/{$ID}"}" class="delete-trigger" data-id="{$ID}" data-message="{intl d="comment.fo.default" l="Are you sure ?"}">{intl d="comment.fo.default" l="Delete"}</a></li>
                {else}
                <li class="comment-abuse">
                    {form name="comment.abuse.form"}
                    <form id="form-add-comment-{$ID}" action="{url path="/comment/abuse"}" method="post" novalidate>
                    {form_hidden_fields form=$form}
                    {form_field form=$form field="id"}
                    <input type="hidden" name="{$name}" value="{$ID}" />
                    <a href="#" class="abuse-trigger">{intl d="comment.fo.default" l="Mark as inappropriate"}</a>
                    {/form_field}
                    </form>
                    {/form}
                </li>
                {/if}
            </ul>
        </div>
    </div>

    {/loop}

    {if {count type="comment" ref="{$ref}" ref_id="{$ref_id}" status="1" } > $start + $count }
    <div class="comments-more">
        <a href="#" class="comments-more-link">{intl d="comment.fo.default" l="Load more comments..."}</a>
    </div>
    {/if}
{/ifloop}
{elseloop rel="comments"}
    <div class="alert alert-info">
        {if $start == 0 }
        {intl d="comment.fo.default" l="There are no comments yet"}
        {else}
        {intl d="comment.fo.default" l="No more comments"}
        {/if}
    </div>
{/elseloop}