{function name=comment_stars empty=1}
    {$star='<span class="glyphicon glyphicon-star"></span>'}
    {$star_empty='<span class="glyphicon glyphicon-star-empty"></span>'}

    {for $foo=0 to 4}
        {if $value > $foo}
            {$star nofilter}
        {elseif $empty == 1}
            {$star_empty nofilter}
        {/if}
    {/for}
{/function}

<div class="comments-main">

    <div id="comment-top">

        <div class="well well-sm">
            {intl d="comment.fo.default" l="Add your comment"}
        </div>

        <div id="comment-top-message" class="alert hidden"></div>

        {if $definition->isValid()}
        {form name="comment.add.form"}
        <form id="form-add-comment" action="{url path="/comment/add"}" method="post" novalidate>

            {form_hidden_fields form=$form}

            {form_field form=$form field="ref"}
            <input type="hidden" name="{$name}" value="{$definition->getRef()}" />
            {/form_field}

            {form_field form=$form field="ref_id"}
            <input type="hidden" name="{$name}" value="{$definition->getRefId()}" />
            {/form_field}

            {if ! $definition->getCustomer()}
                {form_field form=$form field="username"}
                <div class="form-group">
                    <label for="{$label_attr.for}">{$label}</label>
                    <input type="text" name="{$name}" id="{$label_attr.for}" class="form-control" {if $required} required{/if}>
                </div>
                {/form_field}

                {form_field form=$form field="email"}
                <div class="form-group">
                    <label for="{$label_attr.for}">{$label}</label>
                    <input type="email" name="{$name}" id="{$label_attr.for}" class="form-control" {if $required} required{/if}>
                </div>
                {/form_field}
            {/if}

            {form_field form=$form field="title"}
            <div class="form-group">
                <label for="{$label_attr.for}">{$label}</label>
                <input type="text" name="{$name}" id="{$label_attr.for}" class="form-control" {if $required} required{/if}>
            </div>
            {/form_field}

            {form_field form=$form field="content"}
            <div class="form-group">
                <label for="{$label_attr.for}">{$label}</label>
                <textarea name="{$name}" id="{$label_attr.for}" class="form-control" {if $required} required{/if}></textarea>
            </div>
            {/form_field}

            {if $definition->hasRating()}

               {form_field form=$form field="rating"}
                <div class="form-group">
                    {$label}
                    <div class="text-primary">
                        <label class="radio-inline">
                            <input type="radio" name="{$name}" value="0">
                            {comment_stars value=0}
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="{$name}" value="1">
                            {comment_stars value=1}
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="{$name}" value="2">
                            {comment_stars value=2}
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="{$name}" value="3">
                            {comment_stars value=3}
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="{$name}" value="4">
                            {comment_stars value=4}
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="{$name}" value="5">
                            {comment_stars value=5}
                        </label>
                    </div>
                </div>
                {/form_field}
            {/if}

            <div class="form-group">
                <button type="submit" class="btn btn-primary">{intl d="comment.fo.default" l="Send"}</button>
            </div>
        </form>
        {/form}
        {else}
            <div class="alert alert-info">{$message}</div>
        {/if}
    </div>

    <div id="comment-body" class="comment-body">
        <div class="well well-sm">
            {intl d="comment.fo.default" l="Comments"}
            {if $definition->hasRating()}
                {$rating={meta meta="COMMENT_RATING" key="{$definition->getRef()}" id="{$definition->getRefId()}"}}
                {if $rating}
                <span class="pull-right">
                    {intl d="comment.fo.default" l="rating:"} {comment_stars value=$rating}
                </span>
                {/if}
            {/if}
        </div>

        <div id="comment-list" class="comment-list"></div>
    </div>
</div>
