<div class="row">
	<div class="col-sm-5th"><img src="assets/frontOffice/default/template-assets/assets/dist/img/store/sofort.png"></div>
	<div class="col-sm-5th"><img src="assets/frontOffice/default/template-assets/assets/dist/img/store/visa.png"></div>
	<div class="col-sm-5th"><img src="assets/frontOffice/default/template-assets/assets/dist/img/store/paypal.png"></div>
	<div class="col-sm-5th"><img src="assets/frontOffice/default/template-assets/assets/dist/img/store/mastercard.png"></div>
	<div class="col-sm-5th"><img src="assets/frontOffice/default/template-assets/assets/dist/img/store/vorkase.png"></div>
</div>
