<div class="row">
	<div class="col-sm-5th"><img src="/assets/frontOffice/default/template-assets/assets/dist/img/store/wirecard.png"></div>
	<div class="col-sm-5th"><img src="/assets/frontOffice/default/template-assets/assets/dist/img/store/norton.png"></div>
	<div class="col-sm-5th"><img src="/assets/frontOffice/default/template-assets/assets/dist/img/store/wirecard_ssl.png"></div>
	<div class="col-sm-5th"><img src="/assets/frontOffice/default/template-assets/assets/dist/img/store/trusted.png"></div>
	<div class="col-sm-5th"><img src="/assets/frontOffice/default/template-assets/assets/dist/img/store/ssl.png"></div>
</div>