<div itemscope itemtype="http://schema.org/Organization">
    <meta itemprop="name" content="{$store_name}">
    <ul>
       <!--  <li class="contact-address">
            <address class="adr" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                <span class="street-address" itemprop="streetAddress">{config key="store_address1"} {config key="store_address2"} {config key="store_address3"}</span><br>
                <span class="postal-code" itemprop="postalCode">{config key="store_zipcode"}</span>
                <span class="locality" itemprop="addressLocality">
                    {config key="store_city"}
                    {if {config key="store_country"} }
                        {loop type="country" name="address.country.title" id={config key="store_country"}}, <span class="country-name">{$TITLE}</span>{/loop}
                    {/if}
                </span>
            </address>
        </li> -->
        {if {config key="store_phone"} }
        <li class="contact-phone">
        	<i class="fa fa-phone"></i>
            <a href="tel:{config key="store_phone"}" class="tel" itemprop="telephone">{config key="store_phone"}</a>
        </li>
        {/if}
        
        {if {config key="store_email"} }
        <li class="contact-email">
        	<i class="fa fa-envelope-o"></i>
            <a href="mailto:{config key="store_email"}" class="email" itemprop="email">{config key="store_email"}</a>
        </li>
        {/if}
        
        <li class="contact-support">
         	<i class="fa fa-comment-o"></i>
            {intl l="24/7 Support"}
        </li>
         <li class="contact-sure">
         	<i class="fa fa-unlock-alt"></i>
            {intl l="100% sicher"}
        </li>
         <li class="contact-warranty">
         	<i class="fa fa-undo"></i>
            {intl l="Geld-Zurück-Garantie"}
        </li>
    </ul>
</div>
