{default_translation_domain domain="comment.email.default"}

{loop type="customer" name="customer.order" current="false" id=$customer_id backend_context="1"}
<p>{intl l="Dear" } {$LASTNAME} {$FIRSTNAME},</p>
{/loop}

<p>{intl l="Thank you for your order on our online store %store_name" store_name={config key="store_name"}}</p>
<p>{intl l="It would be great to share your thoughts on products with other customers."}</p>
<p>{intl l="You can post comments on this products: "}</p>
<ul>
{loop name="products" type="product" id={','|implode:$product_ids} lang=$lang_id}
    <li><a href="{$URL}">{$TITLE}</a></li>
{/loop}
</ul>
<p>{intl l="Feel free to contact us for any further information"}</p>

<p>{intl l="Best Regards."}</p>